= form_for @customer, html: {class: 'ui form'} do |f|
  - if @customer.errors.any?
    #error_explanation
      h2 = "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      ul
        - @customer.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :email
    = f.text_field :email

  .actions = f.submit class: 'ui button primary'
