h1 Listing customers

= render 'commons/search_tag', search_path: customers_path, placeholder: 'Search customers'

table.ui.table
  thead
    tr
      th Email
      th
      th
      th

  tbody
    - @customers.each do |customer|
      tr
        td = customer.email
        td = link_to 'Show', customer
        td = link_to 'Edit', edit_customer_path(customer)
        td = link_to 'Destroy', customer, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Customer', new_customer_path, class: 'ui button primary'
