.ui.breadcrumb
  a.section = link_to 'Home', :root
  i.right.chevron.icon.divider
  a.section = link_to 'Orders', :orders
  i.right.chevron.icon.divider
  .active.section
    - unless @order.new_record?
      = @order.customer.email
      | 's Order
    - else
      | New Order