= form_for @order, html: {class: 'order'} do |f|
  - if @order.errors.any?
    #error_explanation
      h2 = "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      ul
        - @order.errors.full_messages.each do |message|
          li = message

  .ui.form
    .field
      = f.label :customer_
      = f.select :customer_id, Customer.select_options

    h3 Items
    table.ui.table
      thead
        tr
          th Product
          th Unit Price
          th Quantity
          th Total
          th
      tbody.items
        - @order.order_items.each do |item|
          = render 'item', item: item

  .ui.search.column
    .ui.icon.input
      = text_field_tag nil, nil, class: 'search-products', placeholder: 'Search product', 'data-url' => new_item_order_path(@order.id)
      i.search.icon.circular

  .actions
    = f.submit class: 'ui primary button'
    = link_to 'Back', order_path(@order.id), class: 'ui button' unless @order.new_record
