tr.item
  = fields_for "order[order_items_attributes][#{item.id}]", item do |f|
    = f.hidden_field :id unless item.new_record?
    = f.hidden_field :product_id
    = f.hidden_field :unit_price, class: 'price'

    td = item.product.name
    td = item.unit_price
    td = f.number_field :quantity
    td.total = item.total
    td
      a.remove(data-target='.item') Remove