h1 Listing orders

= render 'commons/search_tag', search_path: orders_path, placeholder: 'Search by customer'

table.ui.table
  thead
    tr
      th Customer
      th Total
      th
      th
      th

  tbody
    - @orders.each do |order|
      tr
        td = order.customer.email
        td = order.total
        td = link_to 'Show', order
        td = link_to 'Edit', edit_order_path(order)
        td = link_to 'Destroy', order, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Order', new_order_path, class: 'ui button primary'
