= render 'crumbs'

p#notice = notice

p
  strong Customer:
  = @order.customer.email

b Items
table.ui.table
  thead
    tr
      th Product
      th Unit Price
      th Quantity
      th Total
  tbody
    - @order.order_items.each do |item|
      tr
        td = item.product.name
        td = item.unit_price
        td = item.quantity
        td = item.total

p
  strong Total:
  = @order.total



= link_to 'Edit', edit_order_path(@order), class: 'ui button primary'
= link_to 'Back', orders_path, class: 'ui button'
