.ui.grid
  .ui.search.column
    = form_tag search_path, method: :get do
      .ui.icon.input
        = text_field_tag :q, @q, placeholder: (defined?(placeholder) ? placeholder : 'Search')
        i.search.icon