.site
  .ui.grid
    .four.wide.column = image_tag 'logo.jpg'
    .twelve.wide.column
      p A long time ago, in a coffee shop far, far away....
      p Luke Coffeemaker has returned to his home planet of Tea-tooine in an attempt to rescue his friend Han Smoothies from the clutches of the vile gangster Java the Bean.
      p Little does Luke know that the DARK COFFEE EMPIRE has secretly begun construction on a new armored space station even more powerful than the first dreaded Death Starbucks.
      p When completed, this ultimate weapon will spell certain doom for the small band of rebels struggling to restore freedom to the galaxy...