// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.order {
  .primary.button, .search {
    margin-top: 20px;
  }

  a {
    cursor: pointer;
  }
}