// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#products .products.cards .card img {
  height: 200px;
  max-height: 200px;
  width: 100%;
  margin: auto;
}

