// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site img {
  width: 240px;
}

.site p:first-child {
  font-weight: bold;
}

.site p {
  font-size: 18px;
}

.twitter-typeahead {
  .tt-menu {
    width: 100%;
    background-color: #fff;
    border: solid 1px #ccc;
    .tt-suggestion {
      padding: 10px;
      &:hover {
        cursor: pointer;
        background-color: #eee;
      }
    }
  }
}