.ui.form
  = form_for @product, multipart: true  do |f|
    - if @product.errors.any?
      #error_explanation
        h2 = "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
        ul
          - @product.errors.full_messages.each do |message|
            li = message

    .field
      = f.label :name
      = f.text_field :name

    .field
      = f.label :description
      = f.text_field :description
    .field
      = f.label :price
      = f.text_field :price
    .field
      = f.label :stock
      = f.text_field :stock
    .field
      = f.label :picture
      = f.file_field :picture

    .actions = f.submit class: 'ui primary button'