.ui.breadcrumb
  a.section = link_to 'Home', :root
  i.right.chevron.icon.divider
  a.section = link_to 'Products', :products
  i.right.chevron.icon.divider
  .active.section Edit

h1 Update Product

== render 'form'

= link_to 'Show', @product
'|
= link_to 'Back', products_path

