#products
  .ui.grid
    .thirteen.wide.column: h1 Products
    .three.wide.column = link_to 'New Product', new_product_path, class: 'ui right floated primary button'

  = render 'commons/search_tag', search_path: products_path, placeholder: 'Search products'

  .ui.products.cards
    - @products.each_with_index do |product, i|
      .ui.card
        = link_to product, class: 'image'
          = image_tag product.photo
        .content
          = link_to product, data: {confirm: 'Are you sure?'}, method: :delete, class: 'right floated'
            i.trash.outline.icon
          = link_to product.name, product, class: 'header'
          .description = product.description
        .extra.content
          i.dollar.icon
          = number_with_precision(product.price, precision: 2, delimiter: ',')
          span.right.floated = "#{product.stock} left"