.ui.breadcrumb
  a.section = link_to 'Home', root_path
  i.right.chevron.icon.divider
  a.section = link_to 'Products', :products
  i.right.chevron.icon.divider
  .active.section New

h1 New Product

== render 'form'