.ui.breadcrumb
  a.section = link_to 'Home', :root
  i.right.chevron.icon.divider
  a.section = link_to 'Products', :products
  i.right.chevron.icon.divider
  .active.section = @product.name

p#notice = notice

p
  strong Name:
  = @product.name
p
  strong Description:
  = @product.description
p
  strong Price:
  = @product.price
p
  strong Stock:
  = @product.stock
p
  strong Photo:
  = image_tag @product.photo

= link_to 'Edit', edit_product_path(@product)
